*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    background: url('/images/images.jpg')no-repeat;
    background-size: cover;
    background-position: center;
}

.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: tra;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    position: relative;
    font-size: 21px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}

.booking-form-box
{
    max-width: 750px;
    border: 1px solid #ced4ca;
    margin: 10% auto 0;
}

.radio-btn{
    margin: 0 20px;
}
.radio-btn .radio-btn
{
    margin: 20px 10px 20px 0;
    box-shadow: none;
}
.radio-btn .btn::after
{
    content: '';
    height: 15px;
    width: 15px;
    top: -2px;
    left: -1px;
    background-color: #fff;
    position: relative;
    display: inline-block;
    border: 3px solid #fff;
    visibility: visible;
    border-radius: 50%;
}
.radio-btn .btn:checked::after
{
    content: '';
    background-color: #000;
    transition: 0.5s;
}
.radio-btn span
{
    color: #fff;
    margin-right: 5px;
    font-size: 12px;
}
.booking-form
{
    padding: 0 20px 20px;
}
.booking-form label
{
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 12px;
    color: #fff;
}
input::placeholder
{
    color: #fff !important;
}
.input-grp label
{
    width: 81px;
    display: inline-block;
}

.form-control
{
    font-size: 12px!important;
    border-radius: 0!important;
    color: #fff!important;
    background: transparent!important;
    box-shadow: none!important;
}
.select-date::-webkit-inner-spin-button,
.select-date::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}
select-date::-webkit-calendar-picker-indicator
{
    background: transparent!important;
}
.custom-select
{
    color:#fff;
    font-size: 12px;
    border: 1px solid #ced4ca;
    box-shadow: none;
    border-radius: 0;
    background: transparent;
}
.custom-select option
{
    color: #333;
}
.flight
{
    width: 100%;
    padding: 9px 0;
    font-size: 12px;
    border: 1px solid #ced4ca;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
}
.flight:hover
{
    background: #fff;
    color: #000;
    transition: 0.5s;
}