body {
	margin: 0;
	background: url("back.jpg") no-repeat 44%;
	text-align: center;
}
/*Tutto Arial*/
* {
	font-family: Arial;
}
/*Barra superiore*/
.topnav {
	text-align: center;
	position: sticky; top: 0;
	overflow: hidden;
	background-color: rgb(16, 16, 104);
	border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;
	z-index: 1;
}
a {
	text-decoration: none;
	color: white;
}
.titolo {
	font-size: 30px; font-weight: bold; font-style: italic;
	float: left;
	padding: 12px 3% 16px 1.5%;
}
.center {
	display: inline-block;
	padding: 22px 1.25% 22px 1.25%;
}
.log {
	float: right;
	background-color: white;
	color: rgb(16, 16, 104);
	padding: 22px 2% 22px 2%;
}
a.center:hover:not(.active), a.log:hover:not(.active) {
	text-decoration: underline;
}
.active {
	background-color: rgb(0, 140, 255);
}

/*Form per inserimento dati*/
form {
	display: inline-block;
	text-align: left;
	border-style: solid; border-radius: 20px; border-width: 0px;
	background-color: white;
	margin-left: 24px;
	width: 640px;
	margin-top: 24px;
	padding: 16px
}
.formhead {
	font-size: 20px;
	text-align: center;
	border-bottom-style: solid; border-width: 1px;
	padding: 0px 0px 16px 0px;
}
label {
	padding: 10px 10px 0px 10px;
}
/*Bottone switch Andata/ritorno*/
.switch {
	font-size: 19px;
	width: 36px; height: 36px;
	border: 1px solid gray;
	border-radius: 20%;
	cursor: pointer;
}
input {
	font-size: 16px;
	border-radius: 10px; border-width: 1px; border-color: lightgray;
	background-color: rgb(240, 240, 240);
	padding: 5px;
	width: 215px;
}
/*Tasti Cerca e Cancella*/
.button {
	color: rgb(255, 255, 255); font-weight: bold;
	width: 160px;
	border-radius: 10px;
	background-color: rgb(16, 16, 104);
	padding: 12px;
}
.button:hover {
	cursor: pointer;
	box-shadow: 3px 4px rgba(0,0,0,0.3);
	transition-duration: 0.25s;
}
.button:active{
	transform: translateY(2px);
	box-shadow: 1px 1px rgba(0,0,0,0.3);
}
/*Checkbox Andata/Ritorno*/
.checkbox { 
	display: none;
}
.toggle {
	position: relative;
	display:inline-block;
	width: 23px;
	height: 8px;
	background-color: lightgray;
	border-radius: 30px;
	border: 3px solid lightgray;
	margin-top: 0px;
}
.toggle:after {
	content: '';
	position: absolute;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: white;
	top: 0px; 
	left: 0px;
	transition: all 0.5s;
}
/*Effetto movimento Checkbox*/
.checkbox:checked + .toggle::after {
	left: 25px; 
}	   
/*Sfondo Checkbox spuntata*/
.checkbox:checked + .toggle {
	background-color: rgb(50, 50, 50);
	border: 3px solid rgb(50, 50, 50);
}
/*Parte inferiore*/
.bottom {
	text-align: left;
	border-top-left-radius: 12px; border-top-right-radius: 12px;
	width: 100%;
	background-color: white;
	padding: 30px 50px 20px 50px;
}